/* Resetting default styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

a {
    color: #283340;
}

/* Global Styling */

.accent {
    color: #e88a49;

}

/* Body & Main Content */

body {
    font-family: 'PT Sans Caption', sans-serif;
    line-height: 3em;
    font-size: 16px;
    background-color: #f8f8ff;
    color: #283340;
}

.container {
    min-height: 80%;
    display: flex;
    flex-direction: column;
}


/* Header & Nav */

.head-container {
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    background-color: #f8f8ff;
    border-bottom: 6px #2b1f1c solid;
    border-radius: 0 0 20px 20px;
    margin-bottom: 2vh;
}

.navigation {
    margin-left: auto;
}

.navigation ul {
    display: inline-flex;
    list-style: none;
    margin-left: 0;
}

.navigation li, .logo {
    margin: 2em;
}

.navigation a, .logo a {
    text-decoration: none;
    font-size: 1.6em;
    font-weight: bold;
}

.navigation a {
    font-family: 'Nunito Sans', sans-serif;
}

.logo a {
    font-family: 'Playfair Display', serif;
}

.logo span {
    text-transform: unset;
}

/* FAQ Section Styling */

.main {
    border: 6px #283340 solid;
    background-color: #f8f8ff;
    padding: 20px;
    user-select: none;
    margin: auto;
    border-radius: 20px;
    width: 50%;
    flex: 0 1 auto;
}

.main h1 {
    text-align: center;
    font-size: 4em;
    margin: 2vh;
    padding: 2.4vh;
    font-family: 'Nunito Sans', sans-serif;
    border-bottom: 3px #e88a49 solid;
    color: #283340;
}

details {
    margin: 1.6em;
    color: #283340;
    font-weight: bolder;
}

details p {
    font-size: 1.6em;
    font-family: 'PT Sans Caption', sans-serif;
}

details a {
    text-decoration: none;
}

summary {
    font-size: 2.4em;
    outline: none;
    cursor: pointer;
    color: #283340;
}

/* Footer */

footer {
    font-size: 2em;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bolder;
    width: 100%;
    margin-top: 2vh;
    color: #283340;
    background-color: #f8f8ff;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    height: 10vh;
    border-radius: 20px 20px 0 0;
    border-top: 6px #2b1f1c solid;
}

footer p {
    align-self: center;
}

/* FAQ Animation */

details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    from {
        opacity: 0; margin-top: -10px;
    }
    to {
        opacity: 1; margin-top: 0;
    }
}

